:root {
  /* لون خلفية الولقو  */
  --primary-color: #13162e;
  /* لون الخط ل اي كتابه ما تم اختيار لها لون  */
  --text-color: #333;
  
  --background-color: #ffffff;
  /* لون مربع الصور الثلاث  */
  --white: #ffffff;
}

/* مقاس الشاشه  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  /* مقاس الخص داخل ال بوكس  */
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start; /* رفع المحتوى لاعلى الصفحة   */
  
  /* لون الباك راوند للجداول */
  background: #ebeaea; 
}

/*  تصميم اللوقو  */
.logo2 {
  background-color: var(--primary-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* مكان اللوقو  */
.logo_place {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
/* مقاس اللوقو  */
.logo {
  height: 100px;
  width: auto;
}


/* باكرانود index */
.home{
  min-height: calc(100vh - 92px);
  background: url('https://tvtclms.edu.sa/pluginfile.php/1/theme_edumy/login_bg/1737865099/Asset%203.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}


/* باقي الصفحات  */

 .home2 {
  overflow: hidden;
  min-height: calc(100vh - 92px);
  background: url('https://tvtc.gov.sa/Style%20Library/tvtc/images/slider__2.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********  اذا شفت ذا التعليق داخله اسم الصفحة ف كل الاكواد الاي تحته ل ذي الصفحة  *************/

/*********** index *************/

/*   تصميم المربع في الصفحة الرائسية  */
.box {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
}

/* المربع اليمين و المبرع اليسار في الصفحة الرائسية  */
.boxr{
  background-color: rgb(255, 255, 255);
  padding: 4rem;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  transition: transform 0.3s ease;
  flex: 1;
  border: 2px solid #322161;
  box-shadow: 0px 6px 0px #160d2e;




}
.boxr:hover {
  background-color: rgb(223, 223, 223); /* اللون الرمادي */
}


.boxT {
  background-color: rgb(255, 255, 255);
  padding: 4rem;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  transition: transform 0.3s ease;
  flex: 1;
  border: 2px solid #322161;
  box-shadow: 0px 6px 0px #160d2e;
}
.boxT:hover {
  background-color: rgb(230, 230, 230); /* اللون الرمادي */
}




/*********** us  *************/
/* تصميم الصورة الاولى في صفحة التواصل  */
.img1{display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* تصميم الصورة الثانية  في صفحة التواصل  */
 .img2
 { display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);} 
 /* تصميم الصورة الثالثة  في صفحة التواصل  */
 .img3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* موقع الصورة الاولى في صفحة التواصل  */
.img1 { left: 60%; top: 50%; }

/* موقع الصورة الثانية  في صفحة التواصل  */
.img2 { left: 40%; top: 50%; }

 /* موقع الصورة الثالثة  في صفحة التواصل  */
.img3 { left: 20%; top: 50%; }


/* مقاس الصورة الاولى  */
.img12{  
  width: 50%;
  height: 200px;
  object-fit: cover;
}

/* مقاس الصورة الثانية   */
.img22{
  width: 50%;
  height: 200px;
  object-fit: cover;
}

/* مقاس الصورة الثالثة   */
.img33 {
  width: 50%;
  height: 200px;
  object-fit: cover;
}

/*   مكان النص في المربع الاول  */
.n1{
  position: absolute;
  left: 20%; top: 80%;

}

/* مكان النص في المربع الثاني  */
.n2{
  position: absolute;
  left: 20%; top: 80%;

}
/* مكان النص في النربع الثالث  */
.n3{
  position: absolute;
  left: 20%; top: 80%;
}


/*********** majors *************/

/*   تصميم المربع لي ال 
(div )
كامل   */
.majors-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  
}


/* تصميم المربع  */
.major-box {
  background: var(--white);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

/*  لتحريك الخيرات   */
.major-box:hover {
  transform: translateY(-5px);
  background-color: rgb(230, 230, 230); /* اللون الرمادي */
}




/* (العودة للصفحة الرئيسية) تصميم زر العودة  */
.return-btn2, .return-btn1 {

  display: inline-block;
  position: absolute;
  left: 48%;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  transform: translateX(-48%); /* يخليه مضبوط بالنص */


}

/* (العودة للصفحة الرئيسية) مكان زر العودة  */
.return-btn1 { top: 90%; }
.return-btn2 { top: 1200px; }
/* لون الزر اذا جاء عليه الماوس  */
.return-btn1:hover {
  background-color: #20254d;
}

@media (max-width: 768px) {
  .cta-container {
      flex-direction: column;
  }

  .majors-grid, .majors-selection {
      grid-template-columns: 1fr;
  }
}


/* الخط الاسود في صفحة البرمجة  */
h2.table-titlepr {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
  border-top: 2px solid #000000;  
  margin-bottom: 30px; /* قللناها */
}


/* الخط الاسود في صفحة الشبكات   */

h2.table-titlene{
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
  border-top: 2px solid #000000;  
  margin-bottom: 30px; /* قللناها */
  
}

h2.table-titlene1{
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  color: #333;
  border-top: 2px solid #000000;  
  
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  width: 80%; /* تقليل عرض الجدول */
  margin: auto; /* توسيطه الجدول*/
  text-align: right;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 1px;
  
}



th {
  background-color: #005f73;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


td {
  color: #333;
}






/* تنسيق الخلايا المخصصة */

td:nth-child(1) {
  /* لون (م) */
  color: #333;
  font-weight: bold;
}
td:nth-child(2) {
  /* (رمز المقرر ) لون  */
  color: #333;
  font-weight: bold;
}

td:nth-child(3) {
  /* (اسم المقرر ) لون   */
  color: #333;
  font-weight: bold;
}

td:nth-child(4) {
  /* (المتلطب ) لون  */
  color: #333;
  font-weight: bold;
}

td:nth-child(5) {
  /* (س) لون  */
  color: #333;
  font-weight: bold;
}

td:nth-child(6) {
  /* (نوع المقرر ) لون  */
  color: #333;
  font-weight: bold;
}

/* إضافة تباعد بين الجداول */
table + table {
  margin-top: 40px;
}
/* لون مواد العامه  */
.azr8 {
  background-color: rgba(21, 142, 190, 0.4);
}
/* لون مواد المقرر  */
.a9fr {
  background-color: rgba(255, 239, 9, 0.4);
}
/* لون مواد التخصص  */
.aby9 {
  background-color: rgb(255, 255, 255);
  color: white; /* لتوضيح النص في السطر الأزرق */
}

.a59r {
  background-color: rgba(79, 255, 9, 0.4);
}

/* مكان اسم التخصص في 
pr  */
.main-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.title2 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}

/* زر الوسايط  */






/* زر العودة الي التخصص البرمجة  */
.kkkpr{
  color: #ecf0f1;
  font-size: 17px;
  background-color: #2f408b;
  border: 1px solid #322161;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #160d2e;
  transition: all 0.1s;
  position: absolute;
  text-decoration: none;
  left: 47%;
  top: 2850px;

}

/* حركة الزر البرمجة   */
.kkkpr:active {
  box-shadow: 0px 2px 0px #0a58b1;
  position: relative;
  position: absolute;
  left: 47%;
  top: 2858px;

}






th, td {

  padding: 10px; /* تقليل المسافات داخل الخلايا */
  border: 1px solid #000000; /*تقسيمة ال*/ 
  text-align: center;
}



/* السطر الاخير  */




.a5yrpr {

  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #ebeaea;
  color:#ebeaea;
  top: 2930px;
  left: 0px;
  text-align: center;

}

.a5yrne {

  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #ebeaea;
  color:#ebeaea;
  top: 2950px;
  left: 0px;
  text-align: center;

}


.titl{
  color: var(--primary-color);
  font-size: 20px ;
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* لضبط المركز بدقة */
  background: var(--white);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  width: 930px; /* عرض المربع */
  height: 100px; /* ارتفاع المربع */
  
  

}

/* زر الشكبات */
.kkkne{
  color: #ecf0f1;
  font-size: 17px;
  background-color: #2f408b;
  border: 1px solid #322161;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #160d2e;
  transition: all 0.1s;
  position: absolute;
  text-decoration: none;
  left: 47%;
  top: 2850px;

  
}

/* حركة الزر الشبكات  */

.kkkne:active {
  box-shadow: 0px 2px 0px #0a58b1;
  position: relative;
  position: absolute;
  left: 47%;
  top: 2852px;

}

/* زر الوسايط  */
.kkkmu{
  color: #ecf0f1;
  font-size: 17px;
  background-color: #2f408b;
  border: 1px solid #322161;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #160d2e;
  transition: all 0.1s;
  position: absolute;
  text-decoration: none;
  left: 47%;
  top: 2760px;

  
}

/*  حركة زر الوسايط  */
.kkkmu:active {
  box-shadow: 0px 2px 0px #0a58b1;
  position: relative;
  position: absolute;
  left: 47%;
  top: 2762px;

}

.a5yrmu {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #ebeaea;
  color:#ebeaea;
  top: 2850px;
  left: 0px;
  text-align: center;
}

